# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Temporary files
*.tmp
*.temp
